{% include 'index.html' %}

<div class = "container mt-5">
    <h3>
        Write Here to Chat with the personal ChatBot
    </h3>
    <form action="/", method="POST">
        <div>
            <textarea class = "form-control" placeholder="Write Here.." name="user_input" rows="3"></textarea>
            <button class="btn btn-primary mt-1" type="submit"> SEND </button>
        </div>

    </form>

    <div>
        <div class="card text-center mt-3">
            <div class="card-header">
                Chat History : 

            </div>
            <div class="card-body">
                

            </div>

        </div>
    </div>

</div>